.title {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
}

.homeAlign {
    padding: 12px 0 0;
    display: flex;
}

.about {
    width: 50%;
    margin-right: 24px;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
}

.about img {
    margin-top: 12px;
}

.galery {
    width: 50%;;
}

.galery h2 {
    margin-bottom: 12px;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
}